.App {
  font-family: sans-serif;
  text-align: center;
}

.App button {
  padding: 13px 29px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  outline: none;
  background: rgb(70, 9, 21);
  color: white;
  cursor: pointer;
}

#portal .container {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 3000px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.867);
}

.container .modal {
  z-index: 9999;
  font-family: 'Source Sans Pro', sans-serif;
  width: 850px;
  height: 850px;
  color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  position: relative;
  animation: animate 0.3s;
  overflow-y: auto;
}

.container .photo--container {
  display: flex;
  padding-right: 20px;
}

.container .new-form-field {
  display: flex;
}

.container .new-photo--container {
  display: flex;
}

.container .info-container-header {
  display: flex;
  width: 90%;
  width: 90%;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.container .info--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.container .new-info--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}


.container .climb--image {
  display: flex;
  transition: transform 0.25s ease;
}

.container .coords {
  display: flex;
  justify-content: center;
}

.container .react-select-23-input {
color: black;
}

.container .description {
  display: flex;
  justify-content: center;
  width: 90%;
  width: 90%;
 padding-top: 20px;
  border-top: 1px solid rgb(255, 255, 255);
}

.container .name-header {
  display: flex;
  border-bottom: 1px solid rgb(255, 255, 255);
  padding-bottom: 10px;
}

.container .modal--header {
  display: flex;
  justify-content: right;
  padding-bottom: 100px;
}

.container .modal--body {
  display: flex;
  width: 80%;
  flex-direction: row;
}

.container .modal--footer {
  display: flex;
}

.container .climb--title {
  display: flex;
  justify-content: center;
}

.container .x--button {
  display: flex;
  justify-content:center
}

.container .form_modal {
  z-index: 9999;
  width: 80vw;
  height: 80vh;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 2px;
  position: relative;
  animation: animate 0.3s;
}

.container .edit {
  display: flex;
  justify-content: center;
}

.container .tg-list-item {
  display: flex;
  justify-content: center;
}

@keyframes animate {
  from {
    transform: scale(0.05);
  }

  to {
    transform: scale(1);
  }
}

/* Styling for checkbox on show page */

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: #363636;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.boxes {
  margin: auto;
  justify-content: flex-start;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]+label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 2px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: #ddd;
  cursor: pointer;
}

input[type="checkbox"]+label:last-child {
  margin-bottom: 0;
}

input[type="checkbox"]+label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #6cc0e5;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked+label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}